<div class="main-card-layout">
  
  <div class="card">
    <h1 class="title">Community Parks</h1>
  </div>
  
  <div class="card">
    <div id="mapid">
      <a id="link" href="www.google.com"></a>
    </div>
    <script>
      let mymap = L.map('mapid').setView([40.640115, -112.299077], 14);
      
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiamVkZmx5bm4wOSIsImEiOiJjamQxNWNjZm8xN2h3MzJwNHYxajk3a3RwIn0.ed9-wvuaXRgt923aypOpCg', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          minZoom: 14,
          id: 'mapbox.streets',
          accessToken: 'pk.eyJ1IjoiamVkZmx5bm4wOSIsImEiOiJjamQxNWNjZm8xN2h3MzJwNHYxajk3a3RwIn0.ed9-wvuaXRgt923aypOpCg'
      }).addTo(mymap);
      
      let porterway = L.polygon([
        [40.648324, -112.311221],
        [40.650143, -112.307112],
        [40.649406, -112.306667],
        [40.647778, -112.307227],
        [40.645881, -112.305927],
        [40.645390, -112.307165],
        [40.646799, -112.308139],
        [40.647190, -112.310425]
      ]);
      
      let brigham = L.polygon([
        [40.652923, -112.299910],
        [40.653074, -112.299697],
        [40.652945, -112.299504],
        [40.652834, -112.299296],
        [40.652558, -112.298774],
        [40.652538, -112.298746],
        [40.652298, -112.299132],
        [40.652422, -112.299301],
        [40.652492, -112.299605],
        [40.652551, -112.299704],
        [40.652612, -112.299770],
        [40.652701, -112.299818],
        [40.652812, -112.299845],
        [40.652871, -112.299872]
      ]);
      
      let gateway = L.polygon([
        [40.649069, -112.292370],
        [40.649448, -112.291771],
        [40.649335, -112.291673],
        [40.649238, -112.291598],
        [40.649149, -112.291546],
        [40.649066, -112.291506],
        [40.648974, -112.291475],
        [40.648891, -112.291457],
        [40.648795, -112.291450],
        [40.648795, -112.291450],
        [40.648754, -112.291463],
        [40.648742, -112.291472],
        [40.648735, -112.291488],
        [40.648727, -112.291518],
        [40.648723, -112.291627],
        [40.648724, -112.291748],
        [40.648737, -112.291845],
        [40.648766, -112.291959],
        [40.648810, -112.292057],
        [40.648836, -112.292102],
        [40.648875, -112.292159],
        [40.648941, -112.292231]
      ]);
      
      let sagers = L.polygon([
        [40.650443, -112.296825],
        [40.650622, -112.296511],
        [40.650636, -112.296470],
        [40.650637, -112.296447],
        [40.650633, -112.296420],
        [40.650625, -112.296395],
        [40.650609, -112.296369],
        [40.650286, -112.296020],
        [40.650237, -112.295979],
        [40.650195, -112.295952],
        [40.650154, -112.295927],
        [40.650106, -112.295903],
        [40.650062, -112.295888],
        [40.650023, -112.295875],
        [40.649985, -112.295865],
        [40.649930, -112.295857],
        [40.649886, -112.295856],
        [40.649159, -112.295856],
        [40.649108, -112.295853],
        [40.649075, -112.295848],
        [40.649042, -112.295842],
        [40.649006, -112.295833],
        [40.648965, -112.295820],
        [40.648920, -112.295805],
        [40.648873, -112.295784],
        [40.648806, -112.295746],
        [40.648740, -112.295704],
        [40.648679, -112.295656],
        [40.648619, -112.295602],
        [40.648572, -112.295554],
        [40.648524, -112.295499],
        [40.648354, -112.295268],
        [40.648346, -112.295258],
        [40.648334, -112.295256],
        [40.648325, -112.295253],
        [40.648313, -112.295256],
        [40.648306, -112.295262],
        [40.648264, -112.295310],
        [40.648199, -112.295396],
        [40.647875, -112.295819],
        [40.647912, -112.296075],
        [40.647334, -112.296821],
        [40.648284, -112.298138],
        [40.648693, -112.298168],
        [40.649442, -112.297398],
        [40.649888, -112.296856],
        [40.650148, -112.296668],
        [40.650339, -112.296657]
      ]);
      
      let millpond = L.polygon([
        [40.644475, -112.288726],
        [40.644466, -112.288623],
        [40.644437, -112.288588],
        [40.644398, -112.288577],
        [40.642275, -112.288501],
        [40.642225, -112.288524],
        [40.642198, -112.288562],
        [40.642184, -112.288616],
        [40.642204, -112.288917],
        [40.642248, -112.289202],
        [40.642302, -112.289448],
        [40.642372, -112.289682],
        [40.642422, -112.289816],
        [40.642505, -112.289992],
        [40.642599, -112.290151],
        [40.643297, -112.291175],
        [40.643650, -112.290831],
        [40.643373, -112.290202],
        [40.643492, -112.289981]
      ]);
      
      let clubhouse = L.polygon([
        [40.643803, -112.297887],
        [40.644620, -112.298396],
        [40.644972, -112.298632],
        [40.645252, -112.298922],
        [40.645428, -112.298768],
        [40.645591, -112.298543],
        [40.645632, -112.297671],
        [40.645770, -112.297502],
        [40.645803, -112.297253],
        [40.645929, -112.297143],
        [40.646342, -112.297146],
        [40.646820, -112.297650],
        [40.647076, -112.297276],
        [40.647011, -112.297090],
        [40.646873, -112.296765],
        [40.646719, -112.296774],
        [40.646599, -112.296736],
        [40.646473, -112.296658],
        [40.646379, -112.296521],
        [40.646322, -112.296241],
        [40.645990, -112.295651],
        [40.645850, -112.295828],
        [40.645791, -112.296080],
        [40.645703, -112.296281],
        [40.645594, -112.296470],
        [40.645468, -112.296634],
        [40.645346, -112.296782],
        [40.644725, -112.297549],
        [40.644603, -112.297680],
        [40.644471, -112.297769],
        [40.644349, -112.297825],
        [40.644127, -112.297860]
      ]);
      
      let island = L.polygon([
        [40.645625, -112.301735],
        [40.645677, -112.301726],
        [40.645715, -112.301693],
        [40.645733, -112.301661],
        [40.645743, -112.301618],
        [40.645735, -112.301564],
        [40.645712, -112.301520],
        [40.645688, -112.301495],
        [40.645120, -112.301035],
        [40.645089, -112.301027],
        [40.645061, -112.301030],
        [40.645030, -112.301047],
        [40.645010, -112.301074],
        [40.644994, -112.301117],
        [40.644989, -112.301157],
        [40.644993, -112.301200],
        [40.645006, -112.301234],
        [40.645029, -112.301262],
        [40.645611, -112.301731]
      ]);
      
      let delgada = L.polygon([
        [40.646826, -112.300650],
        [40.647035, -112.300518],
        [40.646959, -112.300387],
        [40.646916, -112.300326],
        [40.646873, -112.300267],
        [40.646829, -112.300194],
        [40.646796, -112.300114],
        [40.646776, -112.300046],
        [40.646761, -112.299969],
        [40.646754, -112.299866],
        [40.646497, -112.299878]
      ]);
      
      let northport = L.polygon([
        [40.644749, -112.306276],
        [40.645188, -112.306578],
        [40.645464, -112.305897],
        [40.645501, -112.305801],
        [40.645533, -112.305705],
        [40.645570, -112.305566],
        [40.645603, -112.305399],
        [40.645234, -112.305267],
        [40.645087, -112.305836],
        [40.644937, -112.306051]
      ]);
      
      let parkview = L.polygon([
        [40.635013, -112.318813],
        [40.635677, -112.318239],
        [40.635793, -112.318128],
        [40.635907, -112.317994],
        [40.635972, -112.317889],
        [40.636023, -112.317808],
        [40.636066, -112.317709],
        [40.636102, -112.317607],
        [40.636134, -112.317486],
        [40.636155, -112.317379],
        [40.636172, -112.317260],
        [40.636179, -112.317122],
        [40.636180, -112.316697],
        [40.634642, -112.316647],
        [40.634623, -112.316652],
        [40.634604, -112.316664],
        [40.634590, -112.316683],
        [40.634580, -112.316714],
        [40.634578, -112.316770],
        [40.634576, -112.317387],
        [40.634590, -112.317614],
        [40.634610, -112.317767],
        [40.634637, -112.317908],
        [40.634671, -112.318039],
        [40.634716, -112.318177],
        [40.634760, -112.318303],
        [40.634810, -112.318425],
        [40.634876, -112.318550]
      ]);
      
      let regatta = L.polygon([
        [40.634981, -112.312658],
        [40.635004, -112.312050],
        [40.634629, -112.312046],
        [40.634626, -112.312651]
      ]);
      
      let galley = L.polygon([
        [40.633616, -112.306556],
        [40.633651, -112.306636],
        [40.633675, -112.306721],
        [40.633704, -112.306812],
        [40.633722, -112.306881],
        [40.633749, -112.306974],
        [40.633776, -112.307074],
        [40.633793, -112.307113],
        [40.633828, -112.307141],
        [40.633867, -112.307145],
        [40.633930, -112.307119],
        [40.634042, -112.307093],
        [40.634071, -112.307076],
        [40.634091, -112.307051],
        [40.634109, -112.307018],
        [40.634121, -112.306977],
        [40.634131, -112.306890],
        [40.634162, -112.306713],
        [40.634191, -112.306569],
        [40.634220, -112.306463],
        [40.634249, -112.306360],
        [40.634282, -112.306238],
        [40.633947, -112.306038]
      ]);
      
      let ponderosa = L.polygon([
        [40.628034, -112.310313],
        [40.628059, -112.309990],
        [40.628059, -112.309885],
        [40.628047, -112.309789],
        [40.628031, -112.309711],
        [40.628006, -112.309640],
        [40.627983, -112.309584],
        [40.627950, -112.309525],
        [40.627920, -112.309491],
        [40.627893, -112.309478],
        [40.627865, -112.309476],
        [40.627840, -112.309479],
        [40.627808, -112.309502],
        [40.627580, -112.309736],
        [40.627547, -112.309763],
        [40.627511, -112.309796],
        [40.627471, -112.309828],
        [40.627413, -112.309866],
        [40.627356, -112.309906],
        [40.627452, -112.310233]
      ]);
      
      let village = L.polygon([
        [40.630924, -112.303697],
        [40.630913, -112.303508],
        [40.630899, -112.303383],
        [40.630890, -112.303260],
        [40.630876, -112.303097],
        [40.630881, -112.301564],
        [40.630846, -112.301507],
        [40.629709, -112.301481],
        [40.629722, -112.301472],
        [40.629706, -112.302100],
        [40.629348, -112.302088],
        [40.629347, -112.302608],
        [40.629703, -112.302629],
        [40.629693, -112.304045],
        [40.630199, -112.304048],
        [40.630266, -112.304036],
        [40.630324, -112.304001],
        [40.630469, -112.303870],
        [40.630528, -112.303816],
        [40.630528, -112.303816],
        [40.630528, -112.303816],
        [40.630528, -112.303816]
      ]);
      
      let sandhill = L.polygon([
        [40.630403, -112.299954],
        [40.630415, -112.298181],
        [40.630407, -112.298148],
        [40.630393, -112.298118],
        [40.630377, -112.298102],
        [40.630357, -112.298093],
        [40.629821, -112.298091],
        [40.629811, -112.299934]
      ]);
      
      let sutton = L.polygon([
        [40.631836, -112.291673],
        [40.631578, -112.291728],
        [40.631529, -112.291747],
        [40.631491, -112.291765],
        [40.631453, -112.291795],
        [40.631431, -112.291818],
        [40.631404, -112.291854],
        [40.631371, -112.291917],
        [40.631345, -112.291974],
        [40.631312, -112.292056],
        [40.631276, -112.292144],
        [40.631255, -112.292215],
        [40.631235, -112.292291],
        [40.631221, -112.292366],
        [40.631211, -112.292446],
        [40.631200, -112.292523],
        [40.631194, -112.292579],
        [40.631268, -112.292578],
        [40.631323, -112.292619]
      ]);
      
      let woodland = L.polygon([
        [40.632064, -112.297539],
        [40.632368, -112.297789],
        [40.632298, -112.298012],
        [40.632563, -112.298206],
        [40.632605, -112.298101],
        [40.632633, -112.298040],
        [40.632669, -112.297979],
        [40.632715, -112.297903],
        [40.632775, -112.297813],
        [40.632827, -112.297748],
        [40.632871, -112.297690],
        [40.632918, -112.297634],
        [40.632932, -112.297596],
        [40.632932, -112.297567],
        [40.632928, -112.297545],
        [40.632916, -112.297511],
        [40.632589, -112.296922],
        [40.632575, -112.296907],
        [40.632552, -112.296895],
        [40.632536, -112.296894],
        [40.632517, -112.296898],
        [40.632496, -112.296908],
        [40.632455, -112.296960],
        [40.632414, -112.297012],
        [40.632344, -112.297101],
        [40.632269, -112.297201],
        [40.632184, -112.297341],
        [40.632095, -112.297475]
      ]);
      
      let rose = L.polygon([
        [40.638527, -112.295868],
        [40.638860, -112.295819],
        [40.638888, -112.295743 ],
        [40.638921, -112.295686],
        [40.639301, -112.295199],
        [40.639305, -112.295172],
        [40.639301, -112.295151],
        [40.639278, -112.295116],
        [40.639194, -112.295011],
        [40.639145, -112.294963],
        [40.639094, -112.294921],
        [40.639047, -112.294889],
        [40.638994, -112.294860],
        [40.638960, -112.294847],
        [40.638909, -112.294831],
        [40.638862, -112.294822],
        [40.638807, -112.294821],
        [40.638738, -112.294825],
        [40.638663, -112.294841],
        [40.638592, -112.294873],
        [40.638535, -112.294910],
        [40.638133, -112.295183]
      ]);
      
      let fairway = L.polygon([
        [40.634403, -112.304164],
        [40.634986, -112.303784],
        [40.634959, -112.303695],
        [40.634956, -112.303647],
        [40.634962, -112.303545],
        [40.635032, -112.302602],
        [40.634965, -112.302548]
      ]);
      
      let parks = L.layerGroup([
        porterway,
        brigham,
        gateway,
        sagers,
        millpond,
        clubhouse,
        island,
        delgada,
        northport,
        parkview,
        regatta,
        galley,
        ponderosa,
        village,
        sandhill,
        sutton,
        woodland,
        rose,
        fairway
      ]).addTo(mymap);
      
      porterway.addEventListener("click", function() {
        $("#porterway").modal("toggle");
      });
      
      brigham.addEventListener("click", function() {
        $("#brigham").modal("toggle");
      });
      
      gateway.addEventListener("click", function() {
        $("#gateway").modal("toggle");
      });
      
      sagers.addEventListener("click", function() {
        $("#sagers").modal("toggle");
      });
      
      millpond.addEventListener("click", function() {
        $("#millpond").modal("toggle");
      });
      
      clubhouse.addEventListener("click", function() {
        $("#clubhouse").modal("toggle");
      });
      
      island.addEventListener("click", function() {
        $("#island").modal("toggle");
      });
      
      delgada.addEventListener("click", function() {
        $("#delgada").modal("toggle");
      });
      
      northport.addEventListener("click", function() {
        $("#northport").modal("toggle");
      });
      
      parkview.addEventListener("click", function() {
        $("#parkview").modal("toggle");
      });
      
      regatta.addEventListener("click", function() {
        $("#regatta").modal("toggle");
      });
      
      galley.addEventListener("click", function() {
        $("#galley").modal("toggle");
      });
      
      ponderosa.addEventListener("click", function() {
        $("#ponderosa").modal("toggle");
      });
      
      village.addEventListener("click", function() {
        $("#village").modal("toggle");
      });
      
      sandhill.addEventListener("click", function() {
        $("#sandhill").modal("toggle");
      });
      
      sutton.addEventListener("click", function() {
        $("#sutton").modal("toggle");
      });
      
      woodland.addEventListener("click", function() {
        $("#woodland").modal("toggle");
      });
      
       rose.addEventListener("click", function() {
        $("#rose").modal("toggle");
      });
      
       fairway.addEventListener("click", function() {
        $("#fairway").modal("toggle");
      });

    </script>
  </div>
</div>

<!-- Modals -->

<div class="modal fade" id="porterway" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Porter Way Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Porter Way Park is located at the intersection of Porter Way and Star Discovery Way. At 28 acres, it is the largest community park in Stansbury Park.</p>
        
        <p>The following amenities can be found at Porter Way Park:</p>
        
        <ul>
          <li>18 hole Disc Golf Course</li>
          <li>Fenced Baseball/Softball Diamond</li>
          <li>Two Tennis Courts</li>
          <li>A Large Playground (ages 2 to 99)</li>
          <li>Additional interior Multi-Use Paths</li>
          <li>Multiple Picnic Areas with Tables</li>
          <li>Wading Stream</li>
          <li>Several Soccer/Football Fields</li>
          <li>Large Pavilion with Bathrooms</li>
          <li>One mile Multi-Use Path around the exterior of the park.</li>
        </ul>
        
        <p>Future plans for the park include Pickleball Courts, a Basketball Court and an additional Two-Story Pavilion.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="brigham" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Brigham Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Brigham Park is located on Brigham Street, directly north of the Benson Grist Mill and the Stansbury Park Cemetery. It is a small neighborhood park of about 1 acre in size.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Two Covered Picnic Areas</li>
          <li>Picnic Tables</li>
          <li>Charcoal Barbeques</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gateway" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Gateway Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Gateway Park is a small neighborhood park of about 1 acre in size. It is located in the Gateway neighborhood at the intersection of Old Mill Road and Harvest Drive.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>A Large Playground (ages 2 to 12)</li>
          <li>Basketball Court</li>
          <li>Large Shade Trees</li>
          <li>Several Picnic Tables</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sagers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sagers Memorial Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Sagers Memorial Park is a large community park located next to the Millpond at #10 Plaza. The Park is named after Ken Sagers, a former Manager of the Stansbury Service Agency.</p>
        
        <p>Ken worked for the Agency for many years and kept the parks, greenbelts and other facilities maintained, in a time when there was very little money available to do so. Ken passed away in 1995, at which time the park was named in his honor.</p>
        
        <p>SPOC (Stansbury Park Observatory Complex) is located within the boundaries of this park. It houses four of the largest telescopes in Utah. The public is invited to join the Salt Lake Astronomical Society, at one of the many Star Parties they host each summer, to view the night sky through these telescopes. Go to slas.us for more information about SPOC and the Star Parties.</p>
        
        <p>Other amenities at this park Include:</p>
        
        <ul>
          <li>Skateboard and Scooter Course</li>
          <li>Small Pavilion (no reservations)</li>
          <li>Large Playground (ages 2-12)</li>
          <li>Large Shade Trees</li>
          <li>Four Little League Baseball/Softball Diamonds</li>
          <li>Batting Cage</li>
          <li>Bathrooms</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="millpond" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Millpond Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Millpond Park is located at the headwaters of the Millpond near the intersection of the Frontage Road and Clubhouse Drive.</p>
        
        <p>At the current time there are no amenities in the park, but the contour of the land is perfect for sledding in the winter and ice blocking in the summer.</p>
        
        <p>Future plans for the park include an outdoor stage and amphitheater, walking paths, picnic facilities, off street parking and bathrooms.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clubhouse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Clubhouse Complex</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>The Clubhouse Complex is the area surrounding the Clubhouse, adjacent to Stansbury Lake. It is located across the street from the Golf Course Pro Shop, at #1 Country Club Drive.</p>
        
        <p>The amenities in this complex include:</p>
        
        <ul>
          <li>Clubhouse Event Center</li>
          <li>Lake Access</li>
          <li>Boat Ramp for Launching Watercraft</li>
          <li>Boat Dock</li>
          <li>Access to the Lake for Swimming</li>
          <li>Gazebo Style Pavilion with Picnic Tables</li>
          <li>Sport Court</li>
          <li>Public Swimming Pool</li>
          <li>Grass Volleyball Court</li>
          <li>Walking Paths and Benches</li>
          <li>Bridge Across the Millpond to Sagers Memorial Park</li>
          <li>Bathrooms</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="island" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Captains Island Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Captains Island Park is located in the turnabout at the North end of the Island. It is a very small neighborhood with no mature trees and limited amenities.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Small Playground (ages 2-12)</li>
          <li>Several Park Benches</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delgada" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delgada Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Delgada Park is located on the North shore of Stansbury Lake on Delgada Way. Across the street from the park is a peninsula that extends into the Millpond. The peninsula boasts a nature trail with the best bird watching vantage points in the community.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Lake Access</li>
          <li>Boat Dock</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="northport" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Northport Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Northport Park is located on the West shore of Stansbury Lake on Delgada Way.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Lake Access</li>
          <li>Boat Ramp</li>
          <li>Basketball Courts</li>
          <li>Picnic Tables</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="parkview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Park View Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Parkview Park is a large Community park located at the intersection of Parkview Drive and Regatta Lane.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Play ground (ages 2-12)</li>
          <li>Horseshoe Pits</li>
          <li>Basketball Court</li>
          <li>Walking Paths</li>
          <li>Picnic Tables</li>
          <li>Several Soccer Fields</li>
          <li>Bathrooms</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="regatta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Regatta Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Regatta Park is only about one half acre in size. It is located at the intersection of Regatta Lane and Bayshore Drive. It has no amenities or shade trees. One side of the park has a small slope which could serve as a sledding hill, in the winter, for young children.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="galley" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Galley Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Galley Park is a small neighborhood park of about one acre in size. It is located at the intersection of Galley Lane and Regatta Lane.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Small Playground (ages 2-12)</li>
          <li>Park Benches</li>
          <li>Picnic Tables</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ponderosa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ponderosa Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Ponderosa Park is located at the intersection of Ponderosa Lane and Horseshoe Drive. It is a small neighborhood park of about 1 acre in size.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Small Playground (ages 2-12)</li>
          <li>Park Benches</li>
          <li>Picnic Tables</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="village" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Village Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Village Park is a large community park located at the intersection of Village Blvd. and Stallion Way.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Several Full Size Football/Soccer Fields</li>
          <li>Two Softball/Baseball Back Stops</li>
          <li>Small Playground (ages 2-12)</li>
          <li>Park Benches</li>
          <li>Bathrooms</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sandhill" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sandhill Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Sandhill Park is located at the intersection of Sandhill Way and Calais Lane. It has no amenities other than a full size soccer field. The park is generally used by little league soccer clubs for practice and games.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Rex Sutton Memorial Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Sutton Memorial Park is named after Rex Sutton, a long time resident of Stansbury Park, who passed away in 2016. Rex served for many years as a Trustee and as Chairman of the Stansbury Service Agency. He was instrumental in the establishment and development of the park.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Small Playground (ages 2-12)</li>
          <li>Swings</li>
          <li>Basketball Court</li>
          <li>Tetherball Pole</li>
          <li>Park Benches</li>
          <li>Picnic Table</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="woodland" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Woodland Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Woodland Park is the oldest park in the Stansbury. It is named for the large stand of cottonwood trees that still exist on the property. The park is located at the intersection of Country Club Drive and Miller Circle.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Large Shade Trees</li>
          <li>Fire Pit</li>
          <li>Small Playground (ages 2-12)</li>
          <li>Basketball Court</li>
          <li>Park Benches</li>
          <li>Picnic Tables</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rose" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Brent Rose Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Rose Park is named after Brent Rose, one of the founders of the Stansbury Service Agency. Brent served for over 15 years as a Trustee of the Service Agency, many of those years as Chairman. He was instrumental in the establishment and development of the park. Rose Park is located across the street from Stansbury Elementary at 485 Country Club Drive.</p>
        
        <p>The amenities in this park include:</p>
        
        <ul>
          <li>Two Tennis Courts</li>
          <li>Picnic Tables</li>
          <li>Small Soccer Field</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fairway" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Fairway Park</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p>Fairway Park is a small neighborhood park located next to the Golf Course at 629 Country Club Drive. This park consists of a very small playground and lots of grass.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>