<%= render "shared/nav" %>

<div class="main-card-layout">
  
  <div class="card">
    <h1>General Information</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>The Community of Stansbury Park is home to 18 parks, with more to come. We have more park space per capita than any other community in Utah. These parks offer residents a vast array of recreational opportunities.</p>
        
        <p>All of our parks are open 365 days a year from dawn to dusk each day.</p>
        
        <p>For more information regarding any of the parks please contact the Stansbury Service Agency at #435-882-6188.</p>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
    
  </div>
</div>