<div class="main-card-layout">
  
  <div class="card">
    <h1>Park Hours of Operation</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>All Parks, including the Lake, are open from Dawn to Dusk each day.</p>
        
        <p>No activity is allowed in the Parks, or on the Lake, after Dark.</p>
        
        <p>Violators may be cited for Trespassing.</p>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
    
  </div>
</div>