<div class="main-card-layout">
  
  <div class="card">
    <h1>Pavilion Rental Fees</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-md-3"></div>
      
      <div class="col-md-6">
        <table style="width: 100%">
          <tr>
            <td></td>
            <td>Half Day Rental</td>
            <td>Full Day Rental</td>
          </tr>
          <tr>
            <td>Resident</td>
            <td>$25.00</td>
            <td>$50.00</td>
          </tr>
          <tr>
            <td>Non-Resident</td>
            <td>$50.00</td>
            <td>$75.00</td>
          </tr>
        </table>
      </div>
      
      <div class="col-md-3"></div>
    </div>
    
    <div class="row">
      <div class="width-100 text-left">
        
        <strong>Deposit:</strong>
        <p>A Damage and Excessive Cleaning deposit, of $100.00, will be required at the time of Rental Agreement signing. The deposit will be refunded if the pavilion is left clean and undamaged, and all keys are returned in good condition.</p>
        
        <p>Pavilions may be reserved by coming in to the Stansbury Service Agency office at, 1 Country Club, Stansbury Park, Utah, and filling out a Rental Agreement. The signed Rental Agreement and rental fees must be received, by the office, before the pavilion is considered reserved. For inquiries regarding the availability of the pavilions, please call the Service Agency office at #435- 882-6188.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4"></div>
      
      <div class="col-md-4">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
      <div class="col-md-4"></div>
    </div>
    
  </div>
</div>