<div class="main-card-layout">
  
  <div class="card">
    <h1 class="title">SSA Park Rules</h1>
  </div>
  
  <div class="card text-left">
    <ul>
      <li>Parks are open from Dawn to Dusk each day</li>
      <li>All pets must be on a leash at all times. Pet owners are responsible for the clean-up of pet droppings.</li>
      <li>Fires, camping, golfing, and fireworks are prohibited</li>
      <li>Barbecues and/or open-flame cooking are allowed only in designated areas</li>
      <li>Loud, lewd, illegal and/or nuisance activities are prohibited</li>
      <li>No gasoline powered vehicles or equipment are allowed on the grass</li>
      <li>No littering. Garbage must be placed in designated receptacles or hauled off.</li>
      <li>Smoking and/or the consumption of alcohol is prohibited</li>
      <li>No commercial or business activity is allowed except as authorized by Stansbury Service Agency</li>
    </ul>
    
  </div>
</div>