<%= render "shared/nav" %>

<div class="container">
  
  <div class="card">
    <h1>Private Boat Dock Approval</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>Residents who have property adjacent to the Lake are allowed to build a private boat dock which extends from the shoreline on their property into the Lake.</p>
        
        <p>The style of dock that residents choose is not regulated, but the size of the dock is. How far a dock runs along a resident’s property line is not limited, but properties that sit on the main body of the Lake may only extend into the water 12’, from the highwater mark. Docks that are built behind homes on the fingers of water, located between the cul-de-sacs, may only extend into the Lake 8’ from the highwater mark on the shore. No dock may block access to the greenbelts at the end of each finger of water.</p>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
      <div class="col-xl-6 text-left">
        <p>Before building a dock, residents must receive approval from the Stansbury Service Agency. For information about dock approval, please call the Service Agency Office at #435-882-6188.</p>
        
        <p><strong>Note:</strong> To avoid building a dock that is too high or too low, a property owner should check with the Service Agency to see if the current level of the lake is high, low, or just right.</p>
      </div>
      
    </div>
  </div>
</div>