<%= render "shared/nav" %>

<div class="container">
  
  <div class="card">
    <h1>Don't Feed The Waterfowl</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>Stansbury Park is home to a wide variety of birds. Many of them can be fun to feed and have become very accustomed to begging. For the safety of our birds and our property, please don’t do it. We are making a concerted effort to stop this practice. Please help us by resisting the temptation to feed the birds and asking others to do the same.</p>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x600"></a>
      </div>
      
      <div class="col-xl-6">
        <p>
          Here is what happens when you feed the waterfowl:
          <ol>
            <li>The waterfowl congregate in large groups and create an enormous mess on our grass, sidewalks, boat docks, etc. This mess ruins the experience of many of the residents who like to recreate and walk along our lake shores.</li>
            <li>Most of the waterfowl on Stansbury Lake are migratory in nature. Hungry migratory birds who are given an easy meal by residents, often choose to remain here rather than moving on as they normally would. This causes unusually large concentrations of birds in an area that does not have enough natural food sources to feed such a large population.</li>
            <li>As the waterfowl become more dependent on humans as a food source, they stop eating the natural foods they normally would, which are far more nutritious. The birds become malnourished, overcrowded and more susceptible to disease.</li>
            <li>Human feeding of waterfowl makes them too tame for their own good. They become more susceptible to attack by dogs, children throwing stones, and other harassment from those who see them as a nuisance. Many birds are attacked and killed each year because they are easy targets.</li>
            <li>Often, waterfowl that are used to being fed by humans, become aggressive when they are around humans who don’t feed them.</li>
          </ol>
        </p>
      </div>
       
    </div>
    
    <div class="row">
      <div class="text-center">
        <p>
          <strong>If you are feeding the waterfowl, Please Stop Now. Your act of “kindness” is a self- indulgent act that hurts birds and people alike</strong>
        </p>
      </div>
      
    </div>
  </div>
</div>