<div class="main-card-layout">
  
  <div class="card">
    <h1>Fishing</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>Fishing is allowed in Stansbury Lake for residents of Stansbury Park and their guests.</p>
        
        <p>Because Stansbury Lake is a private lake, No Fishing License is Required when fishing.</p>
        
        <p>The Millpond is not a private body of water and is open to residents and non-residents for fishing.</p>
        
        <p>Because the Millpond is a public waterway, it is regulated by the Division of Wildlife Resources, therefore, a fishing license is required when fishing on the Millpond.</p>
      
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
    
    <div class="row">
      <div class="text-center fishing-strong-text">
        <p><strong>No Fishing is allowed in, or around the Clubhouse Complex Park.</strong></p>
        
        <p>All fishing in Stansbury Lake is <strong>CATCH and RELEASE</strong>. Violators of the catch and release policy will be prosecuted.</p>
      </div>
      
    </div>
  </div>
</div>