<%= render "shared/nav" %>

<div class="main-card-layout">
  
  <div class="card">
    <h1>Stansbury Lake</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>Stansbury Lake is often referred to as the “Jewel of Stansbury Park”. This man-made lake was first constructed in the early 1970’s and covers an area of about 110 acres. Because it is man-made there are no natural inlets or outlets to the Lake. The water in the Lake comes from a variety of sources. The main source of water is a deep well located in the southern end of the community. Other sources of water include: The Millpond, several free flowing artesian wells and multiple small springs, which bubble up under the lake itself.</p>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
      <div class="col-xl-6 text-left">
        <p>The Lake is home to a large variety of fish and wildlife. Muskrats, raccoons, fox, coyotes, badgers and deer have all been spotted in and around the Lake. Bird watchers can find everything from pelicans, cormorants, and herons, to grebes, coots, and terns. We also have plenty of ducks and geese. Fish species include: largemouth bass, black crappie, blue gill, channel catfish and carp. We also have a large population of frogs, turtles, and crawdads.</p>
        
        <p>Catch and Release fishing is allowed for all residents and their guests. No license is required.</p>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>Boats and other watercraft that have been registered at the Service Agency Office may be used on the Lake, by residents and their guests. For the sake of safety, anyone operating a watercraft on the Lake is required to wear a life jacket or other personal flotation device. A boat ramp for launching and retrieving watercraft, and a boat dock for temporary docking are located at the Clubhouse Complex.</p>
        
        <p>Swimmers, do so at their own risk, as there are no lifeguards posted at the Lake. When using the Lake, please be respectful of the private property surrounding it.</p>
        
        <p>The Lake is open for use from Dawn to Dark.</p>
        
        <strong>PLEASE, DO NOT FEED THE WATERFOWL</strong>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
  </div>
  
</div>