<div class="main-card-layout">
  
  <div class="card">
    <h1 class="title">The Millpond</h1>
  </div>
  
  <div class="card">
    <div class="row d-flex align-items-center">
      <div class="col-xl-6 text-left">
        <p>The Millpond is the long, narrow body of water directly to the North of Stansbury Lake. This is also a man-made body of water. It was created in the 1855 by early pioneers. By damming Twin Springs Creek, these pioneers were able to create a body of water large enough to operate a grist mill. State Highway 138, which runs in front of the Benson Grist Mill, is built on top of the original Millpond Dam. Once the Millpond was established a small community sprang up in the vicinity, called Richville. This small town was the original County Seat of Tooele County.</p>
      </div>
      
      <div class="col-xl-6">
        <!-- Place Image Here -->
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-12 text-left">
         <p>The Millpond is a separate body of water from Stansbury Lake. The water source for the Pond is a free-flowing spring, called Twin Springs, which bubbles up near the frontage road, on the east side of Stansbury Park.</p>
         
        <p>Unlike Stansbury Lake, the Millpond is a public waterway and is open to the public for fishing, boating, and swimming. Before the bridge, which spans the Millpond, was built, local residents were able use the pond for waterskiing.</p>
        
        <p>The Nature Trail which extends several hundred feet into the Millpond is a great place to observe a large variety of waterfowl and wildlife. The entrance to the Trail is located directly across the street from the park on East Delgada Lane.</p>
        
        
      </div>
    </div>
    
    <hr>
    
    <div>
      <strong>PLEASE, DO NOT FEED THE WATERFOWL</strong>
    </div>
  </div>
</div>