<div class="main-card-layout">
  <div class="card">
    <h1>Lake Use Policy</h1>
  </div>
  
  <div class="card text-left">
    
    <p>The Stansbury Service Agency desires that all residents of Stansbury Park have full access to the Lake. The Agency is cognizant of the potential problems that such usage could create, so it has adopted a set of rules and procedures to govern such usage.</p>
    
    <p>The Stansbury Service Agency hereby resolves that the residents of Stansbury Park may use Stansbury Lake under the following conditions:</p>
    
    <h4>Residency:</h4>
    <p>Only the residents of Stansbury Park, and their accompanied guests, are allowed to use Stansbury Lake and its amenities.</p>
    
    <h4>Propulsion:</h4>
    <p>No gas-powered engines are allowed on the lake. Electric, wind, and man powered watercraft are allowed.</p>
    
    <h4>Operation of Watercraft:</h4>
    <p>Operators must conform to the State of Utah boating regulations regarding the use of motorized watercraft. Those regulations include the presence of lifejackets for each and everyone in the craft, the safe operation of the craft, and the use of state-approved running lights after dark. The entire Stansbury Lake is designated a no-wake zone. Operators of electric motors may not create a wake.</p>
    
    <h4>Fishing:</h4>
    <p>Fishing is allowed only for residents, and their accompanied guests. All fish must be released back into the lake after being caught. Fisherman should be careful to respect private property and other patrons of the lake, when fishing.</p>
    
    <h4>Disruptive Activities:</h4>
    <p>Operators of watercraft must operate their craft in a non- disruptive manner. Users of the lake, and its adjoining parks and greenbelts, are required to abide by the noise ordinances of Tooele County, which prohibits loud music or activities after 10:00 pm. Operators of an electric-powered watercraft are prohibited from operating the motor within 20 feet of any shoreline, with the exception of launching and recovering watercraft.</p>
    
    <h4>Registration:</h4>
    <p>Operators of watercraft are required to register their boat and/or motor with the Stansbury Service Agency, in advance of operation. A one-time fee of $5.00 will be charged for boat registration as well as, a one-time fee of $5.00 for motor registration. A registration form can be obtained from the Stansbury Service Agency Office located at the Stansbury Park Clubhouse during normal business hours, of 8:00 am to 4:00 pm. After completing an approved registration form, applicants will receive a motor and/or boat registration sticker, which must be permanently attached and displayed at all times on the boat and/or motor.</p>
    
    <h4>Enforcement:</h4>
    <p>Stansbury Lake is a private lake. Unauthorized use of the Lake is considered trespass. The Stansbury Service Agency reserves the right to enforce trespass violations and will report violators to the Tooele County Sheriff's Department, for prosecution. Violations of the rules of watercraft operation, on Stansbury Lake, may result in the revocation, at any time, of an individual's lake use privilege. The Stansbury Service Agency also reserves the right to waive the motor type and speed rules for maintenance and/or enforcement purposes.</p>
    
    <p>The Stansbury Service Agency Board of Trustees, acting in an official capacity, will be the final board of arbitration on any enforcement action taken, in regard to Lake Use Policy violations.</p>
    
    <p>The Stansbury Service Agency reserves the right to make any and all changes to this policy at any time.</p>
    
    <hr>
    
    <strong class="text-center">PLEASE, DO NOT FEED THE WATERFOWL</strong>

  </div>
</div>
