<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Create a New Bulletin Post</h1>
  </div>
  
  <div class="card">
    <%= render 'form', bulletin_post: @bulletin_post %>
  </div>
</div>