<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Stansbury Park Greenbelts</h1>
  </div>
  
  <div class="card">
    <p>One of the many features that sets Stansbury Park apart from other communities is the hundreds of acres of public open space. The intent of the original designers of Stansbury Park was to have some form of open space behind every home in the community. Those homes that did not back onto a park, the lake, or the golf course, were located next to public greenbelts.</p>
  
    <p>Like the parks, the greenbelts are meant for public access and use. Many of them give residents access to the parks, the golf course, and the lake. The main function of the greenbelts is to provide a sense of openness, in a community that is more densely populated than many of the other communities in Tooele Valley.</p>
    
    <p>Although a majority of the greenbelts throughout the community are nothing more than open grassy areas, some of the greenbelts have small recreational features such as basketball courts and walking paths, which are available for public use.</p>
  </div>
</div>