<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Millpond Nature Trail</h1>
  </div>
  <div class="card">
    <p>Find me in app/views/greenbelt/millpond_trail.html.erb</p>
  </div>
</div>