<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Millpond Nature Trail</h1>
  </div>
  <div class="card text-left">
    <p>The Millpond Nature Trail is a short path that extends along the peninsula in the West end of the Millpond.  The entrance to the trail is located at 200 West Delgada Way, just West of the Clubhouse Complex beach.</p>
    
    <p>The peninsula has been left in its natural state.  There are several bird watching areas along the trail and at the end of the peninsula.  Bird watchers will be able to get an up close view of Pelicans, Cormorants, and Herons, etc., as well as, the ever present Geese and Ducks.  The peninsula also hosts a myriad of other wildlife, such as, Raccoons, Badgers, Coyotes and Fox.</p>
    
    <p>The trail opens at 7:00 am and closes at Dusk, each day.  We remind visitors to be respectful of the private property which is adjacent to the trail.</p>
  </div>
</div>