<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Greenbelt Rules</h1>
  </div>
  <div class="card text-left">
    <ol>
      <li>Use of the greenbelts is limited to the hours between dawn and dusk each day.</li>
      <li>No resident may block access to the public greenbelts.</li>
      <li>No private property, such as trampolines, sheds, lawn furniture, etc., may be located or stored on the greenbelts.</li>
      <li>No vehicles may be driven, parked, or stored on the greenbelts.</li>
      <li>No resident with property adjacent to a greenbelt may extend their landscaping, irrigation system, or fencing onto greenbelt property.</li>
      <li>Residents who own property adjacent to a greenbelt are responsible to remove any vegetation that grows over, through, or under their fence and extends into the greenbelt areas.</li>
      <li>No commercial or business activity is allowed to be conducted on greenbelt property, except as authorized by the Stansbury Service Agency Board of Trustees.</li>
    </ol>
  </div>
</div>