<div class="main-card-layout">
  <div class="card">
    <h1>Upcoming Activities & Announcements</h1>
  </div>
  

  <div class="container">
    <div id="columns" class="sortable">
      <% @portfolio_items.each do |portfolio_item| %>
        <div class="card post">
          <%= image_tag portfolio_item.thumb_image, class: 'car-img-top' %>
          <div class="card-body">
            <h4 class="header"><%= portfolio_item.title %></h4>
            <div class="card-text text-left"><%= portfolio_item.body %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
 
</div>