<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Pool Admission Fees</h1>
  </div>
  
  <div class="card">
  
    <table style="width: 100%">
      <tr>
        <th></th>
        <th>Resident</th>
        <th>Non-Resident</th>
      </tr>
      <tr>
        <td>Daily Passes:</td>
        <td>$2.50/person</td>
        <td>$3.25/person</td>
      </tr>
      <tr>
        <td>20 Visit Punch Card:</td>
        <td>$45.00/card</td>
        <td>$50.00/card</td>
      </tr>
    </table>
    
    <br>
    
    <ul class="text-left">
      <li>Children ages 3 and under are free with supervision of parent</li>
      <li>Children under 8 must be accompanied by a person 16 or older</li>
      <li>Punch cards are the responsibility of the purchaser. There will be no re-issues for lost or stolen cards. Punch cards may be kept at the pool upon request.</li>
    </ul>
    
    <hr>
  
    <div class="row">
      <table style="width: 100%">
        <tr>
          <th></th>
          <th>1-19 people (within gate)</th>
          <th>Each additional person</th>
          <th>20 or more people</th>
        </tr>
        <tr>
          <td>Group rates (during public hours):</td>
          <td>$30.00/hr</td>
          <td>$1.50/hr</td>
          <td>$2.25/person</td>
        </tr>
      </table>
    
  </div>
</div>
