<%= render "shared/nav" %>

<div class="main-card-layout">
  
  <div class="card">
    <h1>Stansbury Park Swimming Pool</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>The Stansbury Park Swimming Pool is located in the heart of Stansbury Park, just South of the Clubhouse. Parking for the Pool is located on the North side of the Clubhouse. The Pool is available for the use of residents and non-residents alike. Because the Pool is subsidized by tax dollars, residents who live in the boundaries of the Stansbury Service Agency receive discounted rates.</p>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
      <div class="col-xl-6 text-left">
        <p>The Swimming Pool was built in the early 1970’s and was a part of the original Stansbury Park Clubhouse Complex. In the early years of its operation, it was covered with an inflatable dome, which allowed patrons to swim in the winter months.</p>
        
        <p>Today the pool is only operated in the warm summer months between Memorial Day and Labor Day. There are two pools at the complex: a medium sized, rectangular swimming pool with a 3 foot shallow end and a 9 foot deep end, and a small circular “baby pool” that is about 1 foot in water depth. The large Pool has two diving boards available for the use of the patrons.</p>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>Deck chairs are available for use on a first come first serve basis. Snacks and drinks are available for purchase at the front desk, as well as, swim diapers and swim goggles. Life jackets are also available for rent.</p>
        
        <p>For more information regarding Season Passes, Swim Lessons, Punch Cards or Private Pool Parties, please contact the Swimming Pool office at #435- 882-2426.</p>
      </div>
      
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x250"></a>
      </div>
      
    </div>
  </div>
  
</div>