<%= render "shared/nav" %>

<div class="main-card-layout">
  <div class="card">
    <h1>Swimming Pool Hours of Operation</h1>
  </div>
  
  <div class="card">
    <p>Opens Saturday, May 27th and Closes Monday, September 4th</p>
    
    <hr>
    
    <h5>
      <u>Open Swim Hours</u>
    </h5>
    
    <p>Monday - Friday, 12:00 pm - 7:00 pm</p>
    
    <p>Saturday & Sunday, 12:30 pm - 6:00 pm</p>
    
    <p>Holidays, 12:30 pm to 6:00 pm</p>
    
    <hr>
    
    <p>Adult Only swimming is offered on Monday, Wednesday and Friday evenings from 7:00 pm to 8:00 pm.</p>
    
    <p>The Pool is available for private parties on Tuesday, Thursday, Saturday and Sunday evenings from 7:30 pm to dusk.</p>
  </div>
</div>