<div class="main-card-layout">
  
  <div class="card">
    <h1>Private Pool Party</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/400x350"></a>
      </div>
 
      <div class="col-xl-6 text-left">
        <p>The Swimming Pool may be reserved for private parties, on Tuesday, Thursday, Saturday and Sunday Evenings, from 7:30 pm to Dusk. The Pool does not have lights, therefore, for safety reasons there will be no swimming allowed after Dusk.</p>
        
        <strong>Pool Party Rate:</strong>
        <p>$40.00 for parties with 20 or fewer people. Anyone inside the pool fence is considered a party attendee. Parties with more than 20 people will be charged $2.50 for each additional person.</p>
        
        <p>A Refundable, $200.00 damage and cleaning deposit will be required when the reservation is made</p>
        
        <strong>Parties with minors, under 18, require an adult to be present at all times</strong>
      </div>
 
    </div>
  </div>
</div>