<div class="main-card-layout">
  <div class="card">
    <h1>Swimming Pool Rules</h1>
  </div>
  
  <div class="card text-left">
    
    <p>
      For the health and safety of our guests:
      <ul>
        <li>Any person who has had diarrhea in the past 2 days may not use the pool</li>
        <li>All users must shower with soap to remove all fecal material prior to pool entry and after using the toilet or a diaper change</li>
        <li>All children under 3 years old, or who wear a diaper must wear a swim diaper and waterproof swimwear</li>
        <li>Diapers may only be changed in restrooms or changing stations</li>
        <li>NO GLASS CONTAINERS OF ANY KIND ARE ALLOWED IN THE POOL AREA</li>
        <li>No swimming when lifeguard is not on duty</li>
        <li>All swimmers must present season passes, punch passes or pay the daily fee each day</li>
        <li>Swimmers must wear proper swimming attire: no clothing, cut-offs, etc. may be worn in the pool</li>
        <li>Non-swimmers and children under the age of 8 must be accompanied by a parent or other responsible adult, 16 years of age or older</li>
        <li>Deck chairs and lounge chairs are for the use of adults first</li>
        <li>No food or drink is allowed in the pool</li>
        <li>Horseplay, rough play or running will not be tolerated</li>
        <li>Only one person on the diving board at a time. Repeated bouncing on the board is not permitted.</li>
        <li>Abusive or crude language will not be tolerated in the pool area</li>
        <li>
          Persons who violate the pool rules will be dealt with in a manner befitting the seriousness of the problem. A general guideline will be:
          <br>
          <br>
          <table style="width: 100%">
            <tr>
              <td>1st Offense:</td>
              <td>Warning</td>
            </tr>
            <tr>
              <td>2nd Offense:</td>
              <td>30 minutes out of pool</td>
            </tr>
            <tr>
              <td>3rd Offense:</td>
              <td>Removed from pool for remainder of day</td>
            </tr>
            <tr>
              <td>4th Offense:</td>
              <td>Removed from pool for the remainder of the season</td>
            </tr>
          </table>
        </li>
      </ul>
    </p>
    
    <hr>
    
    <strong class="text-center">The Lifeguard's interpretation of the rules is "final"</strong>
  </div>
</div>