<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Family Season Passes</h1>
  </div>
  
  <div class="card">
    <p>Pre-Season discount prices are available via mail if postmarked by 5/26/2018.</p>
    
    <strong>Mail to:</strong>
    
    <br>
    
    <div class="address">
      <p>Stansbury Service Agency</p>
      <p>1 Country Club, Suite #1</p>
      <p>Stansbury Park, UT 84074</p>
    </div>
    
    <br>
  
    <strong>Make checks payable to:</strong>
    
    <br>
    
    <p>Stansbury Service Agency or SSA</p>
    
    <br>
    
    <p>Pre-registration is May 5th from 9am to 12pm in clubhouse conference room.</p>
    
    <p>Discount Passes can be purchased at the pool May 26, 27, and 28, 2018.</p>
    
    <hr>
    
    <table class="info-table">
      <tr>
        <th>Pass Type</th>
        <th colspan="2">Resident</th>
        <th colspan="2">Non-Resident</th>
      </tr>
      <tr>
        <th></th>
        <th>Discount</th>
        <th>Regular</th>
        <th>Discount</th>
        <th>Regular</th>
      </tr>
      <tr>
        <td>6 or more</td>
        <td>$190.00</td>
        <td>$210.00</td>
        <td>$220.00</td>
        <td>$270.00</td>
      </tr>
      <tr>
        <td>5 persons</td>
        <td>$170.00</td>
        <td>$190.00</td>
        <td>$205.00</td>
        <td>$245.00</td>
      </tr>
      <tr>
        <td>4 persons</td>
        <td>$150.00</td>
        <td>$170.00</td>
        <td>$180.00</td>
        <td>$205.00</td>
      </tr>
      <tr>
        <td>3 persons</td>
        <td>$130.00</td>
        <td>$150.00</td>
        <td>$160.00</td>
        <td>$175.00</td>
      </tr>
      <tr>
        <td>2 persons</td>
        <td>$110.00</td>
        <td>$130.00</td>
        <td>$140.00</td>
        <td>$155.00</td>
      </tr>
      <tr>
        <td>1 person</td>
        <td>$65.00</td>
        <td>$85.00</td>
        <td>$95.00</td>
        <td>$120.00</td>
      </tr>
    </table>
    
    <br>
  </div>
</div>