<div class="main-card-layout">
  
  <div class="card">
    <h1 class="title">Swimming Lessons</h1>
  </div>
  
  <div class="card">
    <div class="text-left">
      <p>Swim Lessons are offered throughout the summer at a cost of $35.00 per session. Each session consists of nine, 45 minute lessons, over a two week period.</p>
    
      <p>Lessons are available, with start times, at 9:00am, 10:00am & 11:00am</p>
      
      <strong>Registration:</strong>
      <p>Pre-Registration will be held on Saturday, May 6th from 9:00 am - 12:00 pm, at the Clubhouse. Swimmers may also sign up for lessons at the front desk of the Pool, during regular pool hours.</p>
  
        <strong>Session Dates:</strong>
        <ul>
          <li>June 5 - 16</li>
          <li>June 19 - 30</li>
          <li>July 3 - 14</li>
          <li>July 17 - 28</li>
          <li>July 31 - Aug 11</li>
        </ul>
      
      
      <p>Parents may only register their child for one session of lessons at a time</p>
      <p>Parents may only register their own children for lessons</p>
      <p>Advancement between levels is at the discretion of the Pool Staff</p>
    </div>
    
  </div>
</div>