<div class="main-card-layout">
  
  <div class="card">
    <h1 class="title">Cemetery Fees & Charges</h1>
  </div>
  
  <div class="card text-left">
    <strong>VAULTS ARE REQUIRED</strong>
    <p>Interment Fees subject to change.</p>
    
    <table class="info-table">
      <tr>
        <th></th>
        <th>Resident</th>
        <th>Non-Resident</th>
      </tr>
      <tr>
        <th>Price for Interment Rights</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Adult</td>
        <td>$400.00</td>
        <td>$800.00</td>
      </tr>
      <tr>
        <td>Infant</td>
        <td>$250.00</td>
        <td>$400.00</td>
      </tr>
      <tr>
        <td>Cremation</td>
        <td>$250.00</td>
        <td>$400.00</td>
      </tr>
      <tr>
        <th>Opening & Closing of Grave</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Weekdays</td>
        <td>$450.00</td>
        <td>$450.00</td>
      </tr>
      <tr>
        <td>Weekend & Holidays</td>
        <td>$650.00</td>
        <td>$650.00</td>
      </tr>
      <tr>
        <td>Cremation - Weekdays</td>
        <td>$150.00</td>
        <td>$150.00</td>
      </tr>
      <tr>
        <td>Cremation - Weekends</td>
        <td>$250.00</td>
        <td>$250.00</td>
      </tr>
      <tr>
        <th>Certificate Transfer Fee</th>
        <td>$50.00</td>
        <td>$75.00</td>
      </tr>
      <tr>
        <th>DISINTERMENT</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Adult</td>
        <td>$1,250.00</td>
        <td>$1,600.00</td>
      </tr>
      <tr>
        <td>Infant</td>
        <td>$600.00</td>
        <td>$800.00</td>
      </tr>
      <tr>
        <td>Cremations</td>
        <td>$600.00</td>
        <td>$800.00</td>
      </tr>
    </table>
  </div>
  
</div>


