<%= render "shared/nav" %>

<div class="main-card-layout">
  <div class="card">
    <h1>About Us</h1>
  </div>
  
  <div class="card">
    <p>In the late 1960’s, a land development company named Terracor began construction on the first planned unit development to ever be built in Utah. The sight they chose for their new community was an alkali flat near the intersection of State Highway 36 and State Highway 138. Their intent was to build a “Park City in the West Desert” and market the new city to professionals and executives from Salt Lake City. By build-out, Stansbury Park was supposed to be home to over 40,000 people, as well as, two golf courses, a man-made sailing lake, a Country Club Clubhouse with restaurant and pool, and more parks and open space than any other community in Utah. The Locals thought they were crazy and predicted that this new Master Planned Community would never get off the ground.</p>
  
    <p>By 1971 the first homes were being sold and it seemed for a time that this new development would be a success. By the late 1970’s things didn’t look so good. Even though this fledgling community had more recreational opportunities than most, Terracor was unable to convince the folks in the Salt Lake Valley to come around the mountain and build a home in the West Desert. Unable to sell enough homes, Terracor ended up filing for bankruptcy.</p>
    
    <p>With bankruptcy came the problem of what to do with all the recreational facilities and greenbelts that would be left behind. To solve the problem, Tooele County, who would have been the owner of these abandoned facilities, decided to create two Local Service Areas. The Stansbury Recreation Service Area and the Stansbury Greenbelt Service Area, two government agencies with taxing authority, would own and operate all of the public land in Stansbury Park. This action gave the control of the public land in Stansbury Park to Stansbury Park Residents.</p>
    
    <p>In 1982, when these two agencies were created, they each had a three-member Board of Trustees and each had the staff and equipment required to maintain the properties they owned. In 1992, after ten years of operating separately, the Boards of both Agencies decided that it would be cheaper and more efficient if they were to combine their budgets, staff, and equipment and operate as one agency. The Greenbelt Service Area and the Recreation Service Area entered into an interlocal agreement and the Stansbury Service Agency was born.</p>
    
    <p>When the Service Agency began operation, in 1992, most of the greenbelts in the community were yet to be developed and the community had one partially developed park. With a population of less than 2000 people, to draw upon for tax revenue, funds were scarce and development was slow. Today, over 10,000 people live within the boundaries of the Stansbury Service Agency, and we continue to grow in population each year. We now have 18 developed parks, with more to come. All of the property that was set aside by Terracor, for greenbelts, has been developed, and dozens of acres of additional open space have been added to the community. With over 400 acres of publicly owned land, Stansbury Park has more public open space, per capita, than any other community in Utah.</p>
    
    <p>The oversight for all this property belongs to the Board of Trustees of the Stansbury Service Agency. The Board is made up of six individuals, who reside within the boundaries of the Service Agency and are elected to four-year terms of service. Elections for the Board of Trustees are held every two years, and anyone residing within the boundaries of the Service Agency may declare and run for office. The daily maintenance and operation of the facilities is handled by a staff of about 30 full time, part time, and seasonal employees.</p>
    
    <p>The Service Agency’s office is located in the Clubhouse at 1 Country Club. Our office hours are 8:00 am to 4:00 pm, Monday thru Friday. We are closed for lunch from 12:00 pm to 12:30 pm. If you need information or help with any of our facilities please feel free to stop by our office during office hours, or call us at #435-882-6188.</p>
    
    <p>If you would like to speak to the General Manager or you have an afterhours emergency, please call Randall Flynn at #435-241-0125. For additional ways to contact us, go to the Contact Us page on this website.</p>
    
    <p>The Board of Trustees holds regular public meetings at 7:00 pm, on the 2nd and 4th Wednesdays of each month, with the exception of July, November, and December, when they only meet once, on the 2nd Wednesday. We invite anyone who wants to learn more about what is happening with the public facilities in Stansbury Park, to attend the meetings and get involved.</p>
  </div>
</div>

