<%= render "shared/nav" %>

<div class="container card">
  <h1>Cemetery</h1>

  <div class="row">
    <div class="col-md-6">
      <p>For many years the population of Stansbury Park was relatively young. As our community began to age, many of the longtime residents began to express their desire to be buried here, when the time came. Realizing this, a small group of dedicated residents worked for years to find a location and funding for the proposed cemetery. Finally, in 2001, the Tooele County Commissioners committed to the project by donating 7 acres of County owned land, next to the Benson Grist Mill.</p>
    </div>
    
    <div class="col-md-6">
      <%= image_tag "cemetery/Cemetery.jpg", width: 400, alt: "Cemetery Entrance" %>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "cemetery/Cemetery2.jpg", width: 400, alt: "Cemetery Gazebo" %>
    </div>
    
    <div class="col-md-6">
      <p>With the location secured, the Stansbury Service Agency began the work of designing and constructing the Cemetery, in 2012. A large portion of the landscasping was provided by local residents, who donated hundreds of man-hours to the project.</p>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <p>After a year of design and construction the Cemetery was ready for use and the first plots were sold in January of 2013. Our first burial took place in April of 2013. Since that time, people have been "dying to get in".</p>
      
      <p>Burial plots are avialable to both residents and non-residents alike. Residents receive a discounted price because the Cemetery is subsidized by the tax dollars of residents who live within the boundaries of the Stansbury Service Agency.</p>
    </div>
    
    <div class="col-md-6">
      <%= image_tag "cemetery/Cemetery3.jpg", width: 400, alt: "Cemetery Road" %>
    </div>
    
  </div>
</div>

