<%= render "shared/nav" %>

<div class="main-card-layout">
  <div class="card">
    <h1>Stansbury Golf Course</h1>
  </div>
  
  <div class="card">
    <p>When the Stansbury Golf Course first opened in 1972, it was one of the premier golf courses in Utah. Its designer was William Henrichsen Neff. With water in play on 16 of the 18 holes, the course was considered challenging enough for the Utah Open, which was held here in the past.</p>
  
    <p>The Stansbury Service Agency is the owner of the Stansbury Golf Course. At the present time, the course is operated and maintained by a private vendor, who leases the course from the Service Agency.</p>
    
    <p>The course is open from Dawn to Dusk, 7 days a week. The normal operating season for the course is February thru December. In the winter months, Stansbury Golf Course is often the only course in northern Utah that is open for play.</p>
    
    <p>For more information about prices, tee times, lessons, or if you have any other questions about the course, go to stansburygolf.com or call the Pro Shop at #435-882-4162.</p>
  </div>
</div>