<%= render "shared/nav" %>

<div>
  <h1>Homepage</h1>

  <h2>Smoke Free Environment</h2>
  
  <p>All of the land and facilities that are owned and operated by the Stansbury Service Agency have been designated as No Smoking Zones. This includes the Clubhouse, Swimming Pool, Lake, and all Parks and Greenbelts.</p>
</div>