<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Meeting Minutes and Agendas</h1>
  </div>
  
  <div class="card">
    <p>To obtain Meeting Minutes and Agendas for the Stansbury Service Agency public meetings, please click on the following link: </p>
    
    <p><a href="https://www.utah.gov/pmn/index.html" target="_blank">Utah Public Notice Website</a></p>
    
    <p>Once you arrive at the Utah Public Notice Website, you will see three columns labeled; Government, Entity, and Body.  Under the Government Column, click on Interlocal.  Then, in the Entity column, click on Stansbury Service Agency.  Finally, under the Body Column, click on Stansbury Service Agency.</p>
    
    <p>The results of your search will appear under the columns, at the bottom of the page.</p>
    
    <p>If you need further assistance, please call the Service Agency Office, at #435-882-6188.</p>
  </div>
</div>