<div class="main-card-layout">
  <div class="card">
    <h1>Meeting Minutes</h1>
  </div>
  
  <div class="card">
    <p>Find me in app/views/clubhouse_pages/meeting_minutes.html.erb</p>
  </div>
</div>