<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Stansbury Park Observatory Complex</h1>
  </div>
  
  <div class="card text-left">
    <div class="row">
      <div class="col-xl-12">
        <p>The observatory, which is affectionately referred to as SPOC or the Stansbury Park Observatory Complex is located at Sagers Memorial Park. SPOC is home to four of the largest telescopes in the state of Utah, one of which is the largest publicly accessible telescope in the World.</p>
        
        <p>SPOC is managed by the Salt Lake Astronomical Society (SLAS) and is open to the public many nights throughout the year. Regularly scheduled Star Parties are hosted by SLAS during the summer months. Those who attend these parties will not only be able to view the night sky through the permanently mounted SPOC telescopes, but they will also have access to dozens of portable telescopes, which are provided by the individual members of the society.</p>
        
        <p>For more information about SPOC or for Star Party schedules, contact the Salt Lake Astronomical Society at <a href="http://www.slas.us/" target="_blank">www.slas.us</a>.</p>
      </div>
    </div>
  </div>
</div>