<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Club House Calendar</h1>
  </div>
  
  <div class="card">
    <div class="embed-responsive embed-responsive-16by9 mobile-hidden">
      <iframe class="center-element mobile-hide" src="https://calendar.google.com/calendar/embed?src=atnkgpdfgcd6kt3ck2dghlcrco%40group.calendar.google.com&ctz=America%2FDenver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <p>If you are unable to see the calendar on your current device, please click <span><a href="https://calendar.google.com/calendar/embed?src=atnkgpdfgcd6kt3ck2dghlcrco%40group.calendar.google.com&ctz=America%2FDenver" target="_blank">here</a></span> to view in a different window.</p>
    
  </div>
</div>


