<%= render "shared/nav" %>

<div class="main-card-layout">
  
  <div class="card">
    <h1>General Information</h1>
  </div>
  
  <div class="card">
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>The Stansbury Park Clubhouse is located at #1 Country Club on the shore of Stansbury Lake, directly across the street from the Golf Course Pro Shop. Originally the building was designed to be a true country club facility for the residents of Stansbury Park. It included a covered outdoor swimming pool, a small restaurant, a bar, exercise rooms, locker rooms, and a sauna, as well as, several lounges and meeting rooms.</p>
        
        <p>Today the Clubhouse is a community event center and is great for hosting parties, weddings, family gatherings, banquets, meetings, community activities and more. The facility may be rented by residents and non-residents alike. Because the operation of the building is subsidized by tax dollars, residents living with the boundaries of the Stansbury Service Agency are given a discounted rate when renting.</p>
      </div>
      
      <div class="col-xl-6">
        <%= image_tag "clubhouse/ClubHouse.jpg", width: 500, alt: "Clubhouse Front Flower Bed" %>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6">
        <%= image_tag "clubhouse/ClubHouse2.jpg", width: 500, alt: "Clubhouse Entrance" %>
      </div>
      
      <div class="col-xl-6 text-left">
        <p>Patrons may choose to rent the upper floor, the lower floor or the entire building.</p>
        
        <p>The upper floor of the building includes a large entry lobby, a large event room, and a large kitchen. Rental of the upper floor also includes the use of the upstairs outside deck.</p>
        
        <p>The lower floor boasts a large meeting room that opens to the lower patio, an adjoining bar area, a small kitchen, and a lobby. Rental of the lower floor includes the use of the outside patio. Both floors have bathroom facilities. An electric range, a sink, and a refrigerator/freezer, are available in each kitchen, for the use of renters. Each floor can accommodate up to 100 guests. Chairs and tables are also provided, on each floor, for the use of patrons.</p>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xl-6 text-left">
        <p>For more information, to arrange a showing of the building, or to schedule an event, please contact our Clubhouse Event Scheduler at #435-243-7015.</p>
        
        <p>The Clubhouse is also home to the Stansbury Service Agency. Our offices are located on the upper floor near the main entrance to the building. Our hours of operation are Monday thru Friday, 8:00 am to 4:00 pm. Our phone number is #435-882-6188</p>
      </div>
      
      <div class="col-xl-6">
        <%= image_tag "clubhouse/ClubHouse4", width: 500, alt: "Side Entrance" %>
      </div>
      
    </div>
  </div>
  
</div>