<%= render "shared/nav" %>

<div class="card">
  <h1>Hours of Operation</h1>
</div>

<div class="card text-left">
  <p>The Clubhouse is available to rent 365 days a year. The building may be reserved between the hours of 8:00 am and 10:00 pm, Sunday thru Thursday and from 8:00 am to 12:00 am on Friday and Saturday.</p>
  
  <p>Rentals can be arranged for any length of time within the posted hours of operation. There is a two hour minimum required for each rental.</p>
  
  <p>Patrons are allowed one hour before their scheduled event and one hour after their event for set-up and clean-up, free of charge.</p>
  
  <p>The Stansbury Service Agency Office is located at the East Entrance to the Clubhouse. Office hours are 8:00 am to 4:00 p.m, Monday thru Friday. The office is closed each day from 12:00 pm to 12:30 p.m for lunch.</p>
</div>

