<%= render "shared/nav" %>

<div class="main-card-layout">
  <div class="card">
    <h1>Stansbury Service Agency Clubhouse Policy</h1>
  </div>
  
  <div class="card text-left">
    <ul>
      <li>No person or organization shall be allowed to lease the Clubhouse for regular daily, weekly or monthly use. The clubhouse is considered to be an “Event Center” rather than “Space for Rent”. The time and space in the Clubhouse are to be reserved for one-time events, such as weddings, funerals, family parties, business events, club meetings, political events, community events, etc. Space may be rented for multiple day events, but not on a regular basis.</li>
      <li>The Clubhouse may be rented by residents and non-residents. Residents receive a discounted rental rate because they pay taxes, which are used to subsidize the operations of the Clubhouse.</li>
      <li>Non-profit organizations may request free use of the Clubhouse for activities that are open to the general public. Free use is limited to the conference room on the main floor, unless authorization is given by the Service Agency to use other parts of the building.</li>
      <li>Resident families of military personnel may have free use of the Clubhouse for the purpose of having a going away or welcome home party for their soldier. Non-resident families may rent the Clubhouse, at the resident rate, for the same purposes.</li>
      <li>Free use of the Clubhouse is extended to members of the Service Agency Board of Trustees, both past and present, according to the provisions in the “Stansbury Service Agency Trustee Compensation Policy”. The General Manager of the Service Agency is granted the same free use privileges as the Board of Trustees.</li>
      <li>Employees may use the Clubhouse free of charge for family events, however they will not be allowed to schedule free use time more than seven days in advance of their proposed event.</li>
      <li>The Service Agency reserves the right to deny rental or free use of the Clubhouse to any and all individuals or organizations.</li>
      <li>Any exceptions to this policy must be authorized by the Service Agency Board of Trustees.</li>
    </ul>
  </div>
</div>

