<%= render "shared/nav" %>

<div class="card">
  <h1>Reading Room</h1>
</div>

<div class="card text-left">
  <p>The Stansbury Reading Room is located on the lower level of the Clubhouse. Because of the tireless efforts of Jessica Johnson, a local resident, the room contains thousands of books for readers of all ages. Jessica and other volunteers man the Reading Room several nights each week so that residents can come and check out books, for their reading enjoyment.</p>
  
  <p>The Reading Room is open Tuesday nights from 4:30 pm to 6:30 pm and Wednesday nights from 3:30 pm to 6:30 pm. The entrance to the Reading Room is located at parking lot level on the North side of the building.</p>
  
  <p>The Reading Room offers expanded hours during the summer months and a reading program for kids.</p>
  
  <p>For more information about the Reading Room, please contact Jessica Johnson, at #801-916-3506.</p>
</div>