<%= render "shared/nav" %>

<div class="main-card-layout">
  <div class="card">
    <h1>To Schedule an Event</h1>
  </div>
  
  <div class="card">
    <p>For questions about renting the Clubhouse or to schedule an Event, Please call:</p>
    <p>Shelly Endicott at #435-243-7015</p>
  </div>
</div>


