<%= render "shared/nav" %>

<div class="main-card-layout">
  <div class="card">
    <h1>Rental Fee Schedule</h1>
  </div>
  
  <div class="card text-left">
    
    <h4>Rental Areas:</h4>
    <ul>
      <li>Upstairs: Includes the main entrace, great room, kitchen and upper deck</li>
      <li>Downstairs: Includes teh lobby, main room, kitchen, bar room and outside patios</li>
      <li>Entire Building: Includes the upstairs and downstairs areas, as listed above</li>
    </ul>
    
    <h4>Rental Fees:</h4>
    <table style="width:100%">
      <tr>
        <th>Area</th>
        <th>Resident</th>
        <th>Non-Resident</th>
      </tr>
      <tr>
        <td>Upstairs OR Downstairs</td>
        <td>$50/hour or $300/day</td>
        <td>$100/hour or $600/day</td>
      </tr>
      <tr>
        <td>Entire Building</td>
        <td>$100/hour or $550/day</td>
        <td>$200/hour or $950/day</td>
      </tr>
    </table>
    <br>
    
    <p>Events require a 2 hour minimum rental agreement.</p>
    
    <p>Weddings and Wedding Receptions require rental of the entire building for the entire day.</p>
    
    <strong>Military Use Discount:</strong>
    <p>If a resident is being deployed into harm's way, he/she may receive free use of the building. If he/she is not a resident, then the resident fee will apply. These discounts apply to a military homecoming party also.</p>
    
   <strong>Deposits:</strong>
   <p>The following deposits shall apply to all renters:</p>
   <ul>
     <li>A $200.00 damage deposit will be required. If damage occurs to the building, or any equipment therein, the lessee will be held accountable for the full cost of repair. The deposit will be refunded, if no damage occurs.</li>
     <li>A $100.00 excessive cleaning deposit will be required. The deposit will be refunded, if the facility is left in a clean condition and does not require excessive cleaning.</li>
     <li>A $200.00 liquor deposit will be required if liquor is to be served or allowed to be consumed, during the event. The deposit will not be refunded if damage to the facility occurs, or if law enforcement is summoned to the event.</li>
   </ul>
   <p>Separate checks are needed for each deposit and the rental fee, payable to the Stansbury Service Agency. All payments are due at the time of the agreement signing.</p>
    
    <strong>Keys:</strong>
    <p>There is a $25.00 replacement fee for each key that is lost or returned damaged.</p>
    
    <strong>Refunds:</strong>
    <p>Rental fee may be refunded, if notification of cancellation is given to the Service Agency, no later than 48 hours before the scheduled event, for weekday events, and two weeks before the scheduled event, for weekend events.</p>
    
    <strong>Free Use of the Clubhouse:</strong>
    <p>In certain situations, the Clubhouse may be used free of charge by individuals or organizations. Individuals or organizations desiring free use of the Clubhouse may apply by contacting the Service Agency Office, at 435-882-6188.</p>
  </div>
</div>


