<div class="main-card-layout">
  <div class="card">
    <h1>Contact#service_agency</h1>
  </div>
  
  <div class="card">
    <p>Find me in app/views/contact/service_agency.html.erb</p>
  </div>
</div>