<div class="main-card-layout">
  <div class="card">
    <h1 class="title">Community Links</h1>
  </div>
  
  <div class="card">
    <div class="contact-list">
      <div id="accordion" role="tablist">
      
        <div class="card text-left">
          
          <div class="card-header" role="tab" id="trustees">
            <h5 class="mb-0 header">
              <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne" class="accordion-button">
                Trustees
              </a>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="trustees" data-parent="#accordion">
            <div class="card-body">
              <div class="contact-table">
                <table>
                  <tbody>
                    <tr>
                      <th>Trustees</th>
                      <th>Position</th>
                      <th>Phone</th>
                    </tr>
                    <tr>
                      <td>Neil Smart</td>
                      <td>Chairman</td>
                      <td>801-372-0881</td>
                    </tr>
                    <tr>
                      <td>Rod Thompson</td>
                      <td>Vice-Chairman</td>
                      <td>435-830-2016</td>
                    </tr>
                    <tr>
                      <td>Gary Jensen</td>
                      <td>Treasurer</td>
                      <td>208-490-1781</td>
                    </tr>
                    <tr>
                      <td>Michael Johnson</td>
                      <td>Trustee</td>
                      <td>801-419-4626</td>
                    </tr>
                    <tr>
                      <td>Cassandra Arnell</td>
                      <td>Trustee</td>
                      <td>435-830-4888</td>
                    </tr>
                    <tr>
                      <td>Glenn Oscarson</td>
                      <td>Trustee</td>
                      <td>435-840-2462</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
          
        </div>
        
        <div class="card text-left">
          <div class="card-header" role="tab" id="employees">
            <h5 class="mb-0 header">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                Employees
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="employees" data-parent="#accordion">
            <div class="card-body">
              <div class="contact-table">
                <table>
                  <tbody>
                    <tr>
                      <th>Employees</th>
                      <th>Position</th>
                      <th>Phone</th>
                    </tr>
                    <tr>
                      <td>Miriam Alsup</td>
                      <td>Office Manager</td>
                      <td>435-840-0882</td>
                    </tr>
                    <tr>
                      <td>Alan Alsup</td>
                      <td>Office Mgr/Dist Clerk</td>
                      <td>435-840-0662</td>
                    </tr>
                    <tr>
                      <td>Matthew Miller</td>
                      <td>Mowing Supervisor</td>
                      <td>541-604-6234</td>
                    </tr>
                    <tr>
                      <td>Brady Genther</td>
                      <td>Pool Manager</td>
                      <td>435-882-2426</td>
                    </tr>
                    <tr>
                      <td>Shelly Endicott</td>
                      <td>Clubhouse Scheduler</td>
                      <td>435-243-7015</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card text-left">
          <div class="card-header" role="tab" id="communityNumbers">
            <h5 class="mb-0 header">
              <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                Community Numbers
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="communityNumbers" data-parent="#accordion">
            <div class="card-body">
              <div class="contact-table">
                <table>
                  <tbody>
                    <tr>
                      <td>Benson Grist Mill</td>
                      <td></td>
                      <td>435-882-7678</td>
                    </tr>
                    <tr>
                      <td>Blue Stakes</td>
                      <td></td>
                      <td>801-532-5000</td>
                    </tr>
                    <tr>
                      <td>Fire Station</td>
                      <td></td>
                      <td>435-882-6730</td>
                    </tr>
                    <tr>
                      <td>Golf Pro Shop</td>
                      <td></td>
                      <td>435-882-4162</td>
                    </tr>
                    <tr>
                      <td>Stansbury Service Agency</td>
                      <td>Office</td>
                      <td>435-882-6188</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Fax</td>
                      <td>435-853-5183</td>
                    </tr>
                    <tr>
                      <td>Sherriff</td>
                      <td></td>
                      <td>435-882-5600</td>
                    </tr>
                    <tr>
                      <td>SPCA</td>
                      <td></td>
                      <td>435-840-1966</td>
                    </tr>
                    <tr>
                      <td>SPID</td>
                      <td>Office</td>
                      <td>435-882-7922</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Fax</td>
                      <td>435-882-4943</td>
                    </tr>
                    <tr>
                      <td>Stansbury Park Pool</td>
                      <td></td>
                      <td>435-882-2426</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</div>

  