@import "bootstrap";

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* Fonts */

h1 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Custom Styles */

.main-card-layout > .card {
  padding: 20px;
  margin: 10px;
}

.main-card-layout > .title-container {
  padding: 20px;
  margin: 10px;
}

.title-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.row {
 padding: 10px;
}

.address {
  line-height: 0.6;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('Duck-Duck-Go.jpg') no-repeat;
  background-size: cover;
}

#logo {
  border-radius: 100%;
  width: 40px;
}

.header a {
  color: black;
}

.no-list-style {
  list-style: none;
}

.contact-card:hover {
  text-decoration: none;
}

.contact-table > table {
  width: 100%;
}

.contact-table > table > tbody > tr > td {
  border-top: 1px solid #ddd;
}

.forgot-password > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  padding: 30px;
}

.center-element {
  margin: 0 auto;
}

.info-table {
  width: 100%;
}

.info-table tr:hover {
  background: #DEDEDB;
}

/* Colums and posts */

.columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 10px;
  column-fill: auto;
}

.post {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.post:hover {
  background: #fff;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header a {
  color: black;
}

.car-img-top {
  width: 100%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Leaflet Map */

#mapid {
  height: 50vh;
}

#mapid .leaflet-map-pane .leaflet-overlay-pane svg path {
  fill: #06822E;
  stroke: #06822E;
}

#mapid .leaflet-map-pane .leaflet-overlay-pane svg path:hover {
  stroke: black;
}

/*Search Box */
.search-container {
	position: relative;
	padding-right: 20px;
}

.search-box {	
	input[type="text"] {
		border: none;
		background: none;
		z-index: 1;
		width: 25px;
		height: 25px;
		transition: all .25s ease-in .25s;
		color: transparent;
		font-size: .75rem;
		line-height:25px;
		&:hover {
			cursor: pointer;
			&:focus {
				cursor: text;
			}
			+ span {
				background: rgba(255,255,255,0.2);
			}
		}
		&:focus {
			width: 200px;
			padding: 0 10px;
			outline: none;
			color: black;
			background:none;
			color: white;
			+ span {
				width: 200px;
				&::before {
					width:2px;
					opacity: 0;
					transition: all .25s ease-in;
				}
			}
		}
		+ span {
			z-index: -1;
			position: absolute;
			border: 2px solid white;
			top: 0;
			width: 25px;
			height: 25px;
			transition: all .25s ease-in .25s;
			border-radius: 25px;
			left: 0;
			&::before {
				transition: all .25s ease-in .5s;
				transform-origin: left top;
				content: '';
				position: absolute;
				width: 10px;
				height: 5px;
				border-radius: 5px;
				background: white;
				transform: rotate(45deg) translate(26px, -2px);
			}
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  
  .columns {
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 10px;
    column-fill: auto;
  }
  
  .mobile-hidden {
    display: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  
  .navbar-collapse {
    overflow-y: scroll !important;
    max-height: 300px;
  }
  
  .container {
    max-width: 100%;
  }
    
  .title {
    font-size: 100%;
    font-weight: 600;
    padding-top: 8px;
  }
  
  .nav-search-box {
    width: 200px;
    margin-right: 5px;
  }

}