@import "bootstrap";

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* Fonts */

h1 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Custom Styles */

.card {
  padding: 20px;
  margin: 10px;
}

.row {
 padding: 10px;
}

.nav-item {
  margin: 0px 10px 0px 10px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('Duck-Duck-Go.jpg') no-repeat;
  background-size: cover;
}

.logo {
  border-radius: 100%;
}

.img-center {
  justify: center;
}

.fishing-strong-text {
  padding-left: 60px;
}
