@import "bootstrap";

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* Fonts */
h1 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Nav Bar */
.nav-item {
  margin: 0px 10px 0px 0px;
}

/* Custom Styles */
.main-card-layout > .card {
  padding: 20px;
  margin: 10px;
}

.row {
 padding: 10px;
}



#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('Duck-Duck-Go.jpg') no-repeat;
  background-size: cover;
}

#logo {
  border-radius: 100%;
  width: 40px;
}

/* Colums and posts */

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 10px;
  column-fill: auto;
}

.post {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.post:hover {
  background: #fff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .5s ease;
}

.car-img-top {
  width: 100%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #title {
    font-size: 30px;
  }
  
  #columns {
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 10px;
    column-fill: auto;
  }
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  
  #title {
    font-size: 30px;
  }
  
  #columns {
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 10px;
    column-fill: auto;
  }
  
}