<%= render "shared/nav" %>

<h1>Club House Calendar</h1>

<div class="container">
  <div class="card">
    <iframe src="https://calendar.google.com/calendar/embed?src=atnkgpdfgcd6kt3ck2dghlcrco%40group.calendar.google.com&ctz=America%2FDenver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>