<%= render "shared/nav" %>

<div class="card">
  <h1>Clubhouse Cleaning & Checkout List</h1>
</div>

<div class="card text-left">
  
  <h5>Upstairs:</h5>
  <ul>
    <li>Vacuum all floors & carpeted areas</li>
    <li>Clean floors and any spills or sticky spots</li>
    <li>Wipe off kitchen counters & stove top</li>
    <li>Remove food from refrigerator</li>
    <li>Wipe off tables & chairs</li>
    <li>Remove tape & decorations from walls, doors, tables, etc.</li>
    <li>Put tables & chairs back in closet</li>
    <li>Flush toilets and remove used diapers, if needed</li>
    <li>Wipe off bathroom counters & sinks</li>
    <li>Clean bathroom floors if needed</li>
    <li>Wipe off fingerprints from mirrors and windows</li>
    <li>Remove any event signage throughout the community</li>
    <li>Empty all garbage cans & place in outside dumpster, replace liner</li>
  </ul>
  
  <h5>Downstairs:</h5>
  <ul>
    <li>Dust mop floors</li>
    <li>Clean floors of any spills or sticky spots</li>
    <li>Vacuum carpeted areas</li>
    <li>Wipe off kitchen counters & stove top</li>
    <li>Remove food from refrigerator</li>
    <li>Wipe off tables & chairs</li>
    <li>Remove tape & decorations from walls, doors, tables, etc.</li>
    <li>Put tables & chairs back in closet</li>
    <li>Flush toilets and remove used diapers, if needed</li>
    <li>Wipe off bathroom counters & sinks</li>
    <li>Clean bathroom floors if needed</li>
    <li>Wipe off fingerprints from mirrors and windows</li>
    <li>Remove any event signage posted throughout community</li>
    <li>Empty all garbage cans & place in outside dumpster, replace liner</li>
  </ul>
  
  <strong>Please call Shelly, 435-243-7105, 15 minutes prior to exiting, so she can assist you in the checkout process. She will retrieve your assigned key and return your deposit check, if warranted. Thank You</strong>
</div>
